<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	  <ul>
		  <li><%= data.familyName %></li>
		  <li><%= data.age %></li>
		  <li><%= data.birthDate %></li>
		  <li><%= data.available %></li>
	  </ul>
  </body>
</html>
